[Desktop Entry]
Icon=text-html
Name=https://orm.drizzle.team/learn/tutorials/drizzle-with-db/drizzle-with-db
Type=Link
URL[$e]=https://orm.drizzle.team/learn/tutorials/drizzle-with-db/drizzle-with-db
